body{
    margin:0px;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns: 40vw 10vw;
    grid-auto-rows: 10vh;
    justify-content: center;
    row-gap:5px;
    column-rule: 5px;
}

#textid{
    font-family: cursive;
    height:10vh;
    width:40vw;
    font-size: 1.4rem;
    display:grid;
    justify-content: center;
    align-content: center;
}

.add-btn{
    background-color: papayawhip;
    display:grid;
    justify-content: center;
    align-content: center;
}

.task{
    display:grid;
    align-content:  center;
    padding-left: 10px;
}

